@media only screen and (max-width: 1200px) {
  .hamburger-button {
    display: inline;
  }
  .nav-list,
  .sign-in-btn {
    display: none;
  }
  /* header {
    z-index: 10;
    position: fixed;
  } */
}
@media screen and (max-width: 1600px) {
  .navbar-wrapper {
    padding: 15px 0;
  }
}

@media only screen and (max-width: 474px) {
  .cardA-inner .image-cardA {
    min-height: 620px;
    min-width: 350px;
    width: 70%;
  }
}

@media only screen and (max-width: 991px) {
  .spike-offers {
    display: block;
  }
  .spike-offers .card-b-container {
    width: 100%;
    text-align: center;
  }

  .container-D {
    flex-direction: column;
  }
  .D-section-left {
    max-width: 100%;
  }
  .D-screen-img-container img {
    width: 100%;
    height: auto;
  }

  .D-section-right {
    margin-top: 40px;
  }
}
@media screen and (max-width: 1300px) {
  .slider-container {
    width: 150%;
    transform: translateX(-16.66%);
  }
}
@media screen and (max-width: 900px) {
  .slider-container {
    width: 100%;
    transform: translateX(0px);
  }
  .publisherbox-outer-card {
    width: 100%;
  }
}
@media screen and (max-width: 992px) {
  .container-A > div {
    flex-direction: column;
  }
  .container .d-flex {
    flex-direction: column;
  }

  .container-A .wrapper .section-A-left {
    width: 100%;
  }

  .section-A-right {
    width: 100%;
  }
  .card-div-A-right {
    width: 60%;
  }
  .E-bottom-section {
    flex-direction: column;
    align-items: center;
  }
}

/*  app header and navbar*/

.on-scroll-header {
  box-shadow: 0px 3px 10px 0px rgba(63, 58, 100, 0.08);
  position: fixed;
  width: 100%;
  z-index: 4;
  background-color: #f5f7fa;
}

.navbar-wrapper {
  padding: 15px 150px;
}

.navbar {
  display: flex;
  /* position: fixed; */
  align-items: center;
  justify-content: space-between;
}
.nav-list .nav-child {
  all: unset;
  display: inline-block;
  margin-right: 28px;
  font-weight: bold;
  color: grey;
  cursor: pointer;
  font-size: 13px;
}

.nav-list .nav-item .nav-child:hover {
  color: #ff8905;
}

.nav-list .nav-item {
  all: unset;
}

/*  general   */
.slider {
  width: 400px;
  margin: 20px auto;
  text-align: center;
  padding: 20px;
  color: white;
}
.home {
  padding-top: 80px;
  padding-bottom: 80px;
}
.row {
  display: flex;
  justify-content: center;
}
.hamburger-button {
  display: none;
}

.screen-img-container {
  height: 34%;
  width: 34%;
}
.screen-img-container img {
  height: 100%;
  width: 100%;
}
.description {
  margin-left: 100px;
}
.heading-A {
  margin-bottom: 20px;
  font-size: 42px;
}
.orange {
  color: #ff8905 !important;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  /* font-family: "Poppins", sans-serif; */
  font-weight: 500;
  line-height: 1.4;
}
/* p{
    line-height: 25px
} */
.responsive_navbar {
  position: fixed;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
  width: 100%;
  box-sizing: border-box;
  padding: 20px;
  background-color: white;
}
.mob-nav {
  z-index: 4;
  transform: translateY(-300px);
  transition: opacity 0.6s ease, transform 0.3s ease;
}
.navbar-dropdown {
  z-index: 4;
  transform: translateY(0px);
  transition: opacity 0.6s ease, transform 0.3s ease;
}

.navbar-dropdown.responsive_navbar ul li {
  color: #141413;
}

.trial-btn {
  width: 160px;
  height: 50px;
  cursor: pointer;
  border-radius: 0.3rem;
}

/* Section A   */

/* section B*/

.mt-16 {
  margin-top: 16px;
}
.orange-container {
  width: 100%;
  background-color: #ff8905;
  height: 200px;
  /* position: absolute;
    bottom: 2px; */

  box-sizing: border-box;
}
.A-heading {
  font-size: 40px;
}

.orange-container-desc {
  width: 620px;
  color: white;
}
.orange-inner-container {
  display: flex;
  padding-left: 400px;
  padding-right: 400px;
  align-items: center;
}
/* .orange-container-btn-div {
  margin-left: 120px;
} */
.orange-container-btn {
  height: 50px;
  /* width: 140px; */
  border: 1px solid white;
  border-color: white !important;
  /* background-color: #ff8905 !important; */
  background-color: transparent;
  color: white;
  cursor: pointer;
  font-weight: 600;
}
.orange-container-btn:hover {
  border-color: #272624 !important;
  background-color: #141413 !important;
}
.image-slider {
  background-color: rgb(216, 203, 203);
}
.clients .slide-image {
  opacity: 0.2;
}
.clients .slide-image:hover {
  opacity: 1;
  transition: 0.7s;
}
.clients {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.slide-image img {
  object-fit: contain;
}

.counter {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.stats {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  width: 100%;
  flex-wrap: wrap;
  /* border: 1px solid black; */
}

.counter-box-div {
  display: flex;
  margin-top: 100px;
  width: 20%;
  min-width: 200px;
  justify-content: center;
}

.counter-box-div h2 {
  font-size: 64px;
  margin: 4px;
}
.counter-box-div h5 {
  font-size: 18px;
}

.slider-container {
  max-width: 1500px;
  /* width: 100%; */
  margin: 0 auto;
}

/* .D-section-right > div h3 {
  margin: 0;
  margin-bottom: 20px;
  line-height: 1.3;
} */
