.card-A {
  perspective: 1000px;
}
.cardA-inner {
  /* padding: 40px; */
  display: flex;
  justify-content: center;
  position: relative;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}
.card-A.toggleCard .cardA-inner {
  transform: rotateY(180deg);
}

.image-cardA,
.content-cardA {
  backface-visibility: hidden;
}

.image-cardA {
  background-color: white;
  width: 70%;
  position: relative;
  top: 40px;
  min-height: 620px;
  min-width: 400px;
  box-shadow: 2px 2px 6px #888888;
  padding: 40px;
  box-sizing: border-box;
  text-align: center;
  background-image: url("../../../images/card-image.png");
  background-position: center;
  background-repeat: no-repeat;
  z-index: 3;
}
/* .toggleCard {
    transform: rotateY(180deg);
    backface-visibility: hidden;
    transform-style: preserve-3d;
  } */
/* .toggleCardReverse {
    transition: 0.8s;
    transform-style: preserve-3d;
  } */
.content-cardA {
  width: 70%;
  background-color: white;
  box-shadow: 2px 2px 6px #888888;
  /* position: absolute; */
  position: absolute;
  top: 40px;
  min-height: 620px;
  min-width: 400px;
  z-index: 3;
  padding: 40px;
  box-sizing: border-box;
  /* backface-visibility: hidden; */
  transform: rotateY(180deg);
}

.section-A {
  position: relative;
  width: 100%;
}
.header-and-A {
  background-image: url("../../../images/index-7.png");
}

.section-A-left {
  width: 50%;

  margin-top: 150px;
  /* display: flex;
      flex-direction: column;
      justify-content: center; */
}
