.section-E {
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: #f5f7fa;
}

.question {
  border: 1px solid #cfd2d7;
  cursor: pointer;
  margin-bottom: 10px;
  border-radius: 10px;
  box-sizing: border-box;
  transition: max-height 0.6s;
  max-height: 70px;
  overflow: hidden;
}
.question h5 {
  margin: 0;
}

.question.open {
  max-height: 200px;
}
.q-title h5 {
  font-weight: 500;
}
.content {
  padding: 20px;
}
.q-title {
  padding: 20px;
}
h5 {
  font-size: 1.25rem;
  margin: 0;
}
.q-title p {
  font-size: 15px;
  line-height: 25px;
  margin-bottom: 0;
  margin-top: 0;
}
.ques-expand-btn {
  margin: 0;
  position: relative;
  top: 46px;
  right: 10px;
  border: 0;
  height: 24px;
  width: 24px;
  background-color: #ff8905;
  color: #d8d2d2;
  border-radius: 50%;
  font-weight: 700;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.E-bottom-section .E-bottom-left-section {
  width: 50%;
}
